.dropdown:hover .dropdown-menu {
    display: block;
}

.carousel .item {
    height: 350px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 350px;
}

h2{
    text-align: center;
    font-weight: bold;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border: 1px solid #ddd;
}

.image2 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}