@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div>
    <img class="image" src="~/Images/vasily.jpg" />
</div>

<div>
    <p>
        Liaoning Petrochemical University (LSHU) is located in Fushun, overlooking the scenic banks of the Hunhe River. It enjoys a beautiful campus environment.
        LSHU was originally founded in Dalian in 1950 as the first petroleum school of New China.
        In 1953 the school was relocated to Fushun and in 1958 it was upgraded to Fushun Petroleum Institute.
        In February 2000 its leadership was transferred to the People’s Government of Liaoning Province, in light of the management system of “simultaneous construction by central and local governments, with the local government playing a more prominent role”.
        In October of the same year, Fushun Coal Industry School was incorporated into Fushun Petroleum Institute; in February 2002, with the approval of the Ministry of Education (MOE), Fushun Petroleum Institute was renamed as Liaoning Shihua University.
    </p>

    <p>
        For more than 60 years, LSHU has developed into a multidisciplinary university featuring petrochemical engineering with 7 well-coordinated major disciplines.
        The campus covers more than127 Ha. With 786,000 square meters building area, and 100,000 square meters stadiums. LSHU has the largest library in the northeast of China, which holds 3,000,000 books, and teaching and researching instruments worth 250 million RMB.
    </p>

    <p>
        Currently, there are over 26,000 students pursuing undergraduateor postgraduate degrees, and 1525 full time staffs (including  427 staffs with PhD degrees, and 11 researchers with state-level scientific program).
        Now the university has 18 schools and colleges with providing 15 key provincial labs, 3 doctoral programs, 48 master programs, 12 engineering master programs and 51 undergraduate majors.
        The university is also a base for cultivating urgently-needed college graduates for the petrochemical industry in Liaoning Province.
    </p>

    <p>
        LSHU offers Chinese Government Scholarship, University Scholarship undefinedamp; Award to all international students.
        Chinese Government Scholarship program is established by the Ministry of Education of P.R.China.
        It provides full scholarships to international students who are admitted in our Master programs.
        University Scholarship undefinedamp; Award is offered by International Education School and is awarded to international students who have excellent performances during studying in our university.
    </p>

    <p>Since its establishment, LSHU has educated more than 120,000 graduates, most of whom are now undertaking leading roles in management and technology in various fields such as petroleum, petrochemical engineering and coal industries across China</p>
</div>

