
@{
    ViewBag.Title = "Academic Regulations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Academic Regulations</h2>

    <div>
        <h3>Academic Schedule</h3>
        <p>An academic year at IIE comprises of 2 semesters, spring semester begins in March and ends in July; fall semester begins in September and ends in January. One semester includes 20 weeks, and final examination is held in the last 2 weeks. The details illustrated in the school calendar at the beginning of each semester.</p>
    </div>

    <div>
        <h3>Duration of Study</h3>
        <p>An international student can study in IIE for a bachelor’s degree, a master’s degree, or for a non-degree program. The designated duration of study is illustrated below:</p>

        <table class="table">
            <tr>
                <th>Program</th>
                <th>Standard Duration(Years)</th>
                <th>Maximum Duration(Years)</th>
            </tr>
            <tr>
                <td>Bachelors Degree</td>
                <td>4</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Masters Degree</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Non-Degree</td>
                <td>0.5 or 1</td>
                <td>2</td>
            </tr>
        </table>
    </div>

    <div>
        <h3>Credits and Graduation Requirements</h3>
        <p>All courses are compulsory in the training program and therefore, a student must finish all courses and get the required credits before getting diploma and degree.</p>
    </div>

    <div>
        <h3>Attendance and Leave</h3>
        <p>Students are required to attend all class activities of prescribed courses</p>
    </div>

    <div>
        <h3>The Grading System</h3>
        <p>The passing score for an examination is 60. However, an aggregate of 65 scores or a GPA grade 3 is necessary to fulfill the graduation requirements. Assessment for each course may constitute of multiple components, for example, multiple choice questions, short answer questions, essays, assignment, oral presentations, or any combination of these.</p>
    </div>

    <div>
        <h3>Examination/Test Code of Conduct</h3>
        <p>A student who is found guilty of academic dishonesty, such as cheating in the examination, plagiarism in the thesis, etc, will be penalized. The student will be given zero score for that course, and he may also lose the eligibility for a degree from the university. Having someone else as a substitute in an examination or taking an examination for others will also be punished accordingly, for example, probation or expulsion from the university.</p>
    </div>

    <div>
        <h3>Suspension, Resumption and Withdrawal</h3>
        <p>Due to a leave of absence of various reasons, a student can apply for a suspension, however, the longest period is 2 years. The student who fails to resume study after the suspended period, or whose application to resume study is not approved of, will be considered as withdrawal from the university.</p>
        <p>Similarly, a student who is dismissed from the university must leave the university within 15 days from the date of dismissal and he will not be allowed to be enrolled.</p>
    </div>

    <div>
        <h3>Completion, Certificate and Degree</h3>
        <p>The certificate of graduation and degree will be granted to students who have successfully completed their program and who have fulfilled the graduation requirements. Every student will be issued with a transcript.</p>
        <p>An undergraduate student who has not fulfilled the graduation requirement can only get a certificate of completion. It is same to apply to the graduate student who fails to defend his/her thesis.</p>
        <p>Procedures for departing from the university:</p>
        <ul>
            <li>Getting Form of Departing from Student’s Affairs office and filling in it</li>
            <li>Settling all Financial dues</li>
            <li>Returning all borrowed books</li>
            <li>Checking out from accommodation and getting back deposit</li>
            <li>Collecting transcript, certificate and degree</li>
        </ul>
        <p>Students must leave the university within 15 days.</p>
    </div>

</div>