
@{
    ViewBag.Title = "ApplicationProcedure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Application Procedure</h2>
    <p>
        STEP 1: Register your account and activate it.<br />
        STEP 2: Fill out the “Application Form of Liaoning Shihua University of the People’s Republic of China”and upload all required documents as follows:<br />
        <ul>
            <li>a.Provide academic credentials of the highest level （Notarized English translation if applicable).</li>
            <li>b.Provide your final degree transcript （Notarized English translation if applicable.</li>
            <li>c.Provide the copy of all pages of passport. (From the first page to last one)</li>
            <li>d.Provide a passport photo.</li>
            <li>e.Provide Physical Examination Record for Foreigners (Within 3 months).</li>
            <li>f.Provide letter of sponsorship (download). g.Provide the transfer letter and transcript (transfer student only)</li>
            <li>h.Provide the HSK certificate (for Chinese-Medium programs only)</li>
            <li>i.Provide recommendation letters from at least two different professors(master programs only).</li>
        </ul>
        STEP 3: Submit the application and note your application number.<br />
        STEP 4: Check your admission status regularly.<br />
        STEP 5: You will get message through the on-line application system after successful verification.<br />
        STEP 6: Check your message and after your documents are qualified, please pay for Application Fee: 800 RMB and do upload the receipt.<br />
        PS: Application  fee is non-refundable.  Please check LSHU bank account details below.<br />
        STEP 7: Wait for the foreign affairs office to approve JW202 (usually takes 10-15 days).<br />
        STEP 8: Receive originals of “Admission notice” and “JW202” by post.<br />
        STEP 9: Apply for VISA
    </p>
</div>

<div>
    <h4>PAYMENT OF APPLICATION FEE</h4>
    <p>
        * Please pay the admission fee to the following bank account:<br />
        FOR TRANSFERS WITH-IN CHINA<br />
        Chinese Currency Account Details: (CNY)<br />
        User Name: 辽宁石油化工大学<br />
        Name of the Bank: 中国银行抚顺支行<br />
        Address of the Bank: 辽宁省抚顺市新抚区东一路10号<br />
        Bank Account No.: 2895 5630 2396<br />
        Swift Code: BKCHCNBJ810
    </p>
    <br />

    <p>
        FOR TRANSFERS FROM YOUR COUNTRY<br />
        Foreign Currency Account Details: (USD only)<br />
        User Name: LIAONING SHIHUA UNIVERSITY<br />
        Name of the Bank: BANK OF CHINA<br />
        Branch: FUSHUN BRANCH<br />
        Address of the Bank: No. 1, Dandong Road (West), Wanghua<br />
        District, Fushun, Liaoning Province, P.R.CHINA<br />
        Bank Account No.: 2895 5630 2396<br />
        Swift Code: BKCHCNBJ810<br />
        IMPORTANT: Please note that Chinese Currency account can only receive RMB and foreign currency account can only receive USD or RMB. Please do not remit other currencies to USD account.At the same time,the money sender’s name must be the individual name.
    </p>
</div>

<div>
    <p>
        TIPS FOR FASTER AND SUCCESSFUL ADMISSION<br />
        <ol>
            <li>Always mention your online application number when making enquiries with us.</li>
            <li>Your CV must be complete & continuous until the current year. (Study or work experience)</li>
            <li>Ensure all information and documents submitted/uploaded are factual and legible.</li>
            <li>All applications will be verified within 3 working days.</li>
            <li>After checking the application documents and receiving application fee, our university will submit related documents to Liaoning Provincial Government to apply for the “Application Form for Foreigners Wishing to Study in China”, i.e. JW202.</li>
            <li>After the JW202 is successfully applied,our university will send the admission letter and JW202 to the applicants.</li>
            <li>Applicants who are admitted should register at International Education College of Liaoning Shihua University with the original copies of application documents before the regulated time in the admission letter.If the students are not able to register for some reasonable excuses, they should notify the university beforehand, otherwise we will cancel their admission qualifications.</li>
            <li>If students do not register before the scheduled date, it is regarded to abandon the chance to register, and the registration will be made next time.</li>
        </ol>
    </p>
</div>