
@{
    ViewBag.Title = "Arrival";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>How to Arrive LNPU</h2>

    <div>
        <ol>
            <li>Liaoning Petrochemical University is located in the city of Fushun, Liaoning Province, which is only 20 km from the provincial capital Shenyang.</li>
            <li>
                The fastest and most convenient way from Shenyang Taoxian International Airport to Liaoning Petrochemical University is taking taxi.
                The distance between Shenyang Taoxian International Airport and Liaoning Petrochemical University is about 40 km.
                It will take approximate 50 minutes and the taxi fee is almost 250 RMB or 40 dollars.
            </li>
            <li>
                Please show the following address to the taxi driver:<br />
                您好, 出租车司机师傅! 请把我送到抚顺市辽宁石油化工大学国际教育学院。地址：辽宁省抚顺市望花区丹东路西段1号。
            </li>
            <li>
                When you arrive at the destination, please do ask for receipt and memorize the taxi license number.
                Please collect your belongings when you get off the taxi.
            </li>
            <li>
                Contact ways:<br />
                International Education College Reception Tel. No.:  86-24-56861607<br />
                Admissions Office Tel. No.:  86-24-56863926<br />
                15841380842  Miss Cui<br />
                15841351017  Miss Yu<br />
            </li>
            <li>After arriving at the university, please immediately go to Office 214 (Admissions Office) to register.</li>
        </ol>

        <p>Registration Office Working Hours: Monday to Friday, 8:30 a.m.－11:30 a.m.；1:30 p.m.－4:30 p.m.</p>
    </div>
</div>

<div>
    <h2>After Arriving at LNPU</h2>

    <div>
        <p>
            Required by the Chinese government, after arriving at LNPU, the international student must go to office to do registration as soon as possible. The registration includes 7 steps (shown below) and these steps are compulsory to all new international students:<br />
            <ol>
                <li>Enrollment Confirmation (Admissions Office)</li>
                <li>Residence Registration (Admissions Office)</li>
                <li>Accommodation Application (Students’ Affairs Office)</li>
                <li>Fees Payment (Admission Office)</li>
                <li>Academic Registration (Teaching Affairs Office)</li>
                <li>Getting a Dormitory undefinedamp; Applying for Student IC/ID Card  (Students’ Affairs Office)</li>
                <li>Booking Medical Examination (Admissions Office)</li>
            </ol>
        </p>

        <p>Office Time: 8:30-11:30 a.m.  1:30-4:30 p.m. From Monday to Friday</p>

        <p>
            Note:<br />
            <ol>
                <li>
                    Enrollment Confirmation undefinedamp;
                    Residence Registration require new international student to come to Admission Office with bringing original documents of 1)Admission Notice, 2)JW201/202 form, and 4 copies of passport size photo.
                </li>
                <li>The insurance must be paid at the first registration day.</li>
            </ol>
        </p>
    </div>
</div>




