
@{
    ViewBag.Title = "Service on Campus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Service on Campus</h2>

    <div>
        <ol>
            <li>
                Living Facilities<br />
                Food and daily necessities are available in the supermarkets on campus. Other facilities include a campus-hospital, post office, telephones, Internet, laundry, studios, gym, ATM and theater. Students may have meals in the student canteens or self-cater in the building of International Education College. The international students’ apartments are equipped with a furnished kitchen at every floor.
            </li>
            <li>
                Medical Services<br />
                The university hospital provides basic medical service for students. Hospitals No.2 is located just across the east street of the university. Better conditioned hospital called “Mining Hospital(矿务局总医院)” and “Central Hospital(中心医院)” are also not very far. Telephone number of Fushun Emergency Center is 120. The University requires all intentional students to hold a medical insurance policy. Before seeing a doctor, students should contact the insurance company to inquire about their insurance cover and reimbursement procedure.
            </li>
            <li>
                Library Services<br />
                The library of Liaoning Shihua University has more than 1.3 million books and 26.4TB e-journals in its collection. Library does have some books written in English language too. Students may borrow books and materials from the library with using their IC card. Students are also required to present their student IC card to library staff in order to enter the university library. The books and materials which are not returned by the due date, need to be renewed or else an overdue charge will be levied.
            </li>
            <li>
                Activities and Student Organisations<br />
                Sports facilities such as football, volleyball, basketball are available on campus free of charge to all students. Liaoning Shihua University offers a wide range of extracurricular activities (such as Athletic Games, football match, basketball match, volleyball match, cricket match, welcoming party, new year party,cultural festival and so forth) to provide a thriving campus life. Activities are also sponsored/organized occasionally by the international Education College and faculties.
            </li>
            <li>
                Mail Service<br />
                There is a Post Office on campus covering services, such as ordinary, registered, airmails and domestic special delivery mails. There are some other mailing companies, such as Yuan Tong, Zhong Tong, Shun Feng also providing mailing service in their offices.
            </li>
            <li>
                Phone and Internet Services<br />
                The international students are connected with Internet lines from China Unicom company and Wifi from China Mobile company. Both the China Mobile and China Unicom company can provide cell-phone service to international students, and the business offices of these two companies are all in our campus.
            </li>
            <li>
                Emergency/Security Services
                Student IC card is usually a valid proof of identity within Liaoning Shihua University. However, some establishments, such as bank or government agencies require a passport as an ID proof. Following emergency numbers may be used for relevant emergencies:<br />
                <ul>
                    <li>Crimes: 110</li>
                    <li>University Police: 56865110</li>
                    <li>Fire: 119</li>
                    <li>Traffic accident: 122</li>
                    <li>Hospital Ambulance: 120</li>
                </ul>
            </li>
            <li>
                Holidays<br />
                The university does not observe any international or religious holidays. Holidays and vacations are listed in the university calender.
            </li>
            <li>
                Travelling<br />
                Students may travel during weekends, holidays, and vacations. No leave for travel is permitted for working days during teaching weeks.
            </li>
        </ol>
    </div>
    
</div>



