
@{
    ViewBag.Title = "Chinese Government Scholarship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div>
    <h2>Chinese Government Scholarship</h2>

    <div>
        <p>Chinese Government Scholarship Program is established by the Ministry of Education of P.R. China (hereinafter referred to as MOE) in accordance with educational exchange agreements or understandings reached between the Chinese government and the governments of other countries, organizations, education institutions and relevant international organizations to provide both full scholarships and partial scholarships to international students and scholars. MOE entrusts China Scholarship Council (hereinafter referred to as CSC) to manage the recruitment and carry out the routine management of Chinese Government Scholarship program. There are only one wayfor you to apply for China Scholarship Council (CSC) Scholarship. A student may apply directly through Liaoning Shihua University.</p>
    </div>
    
    <div>
        <h3>Aplication</h3>
        <p>Applicants shall apply atCSC online Application system (http://laihua.csc.edu.cn) between January and March every year. Applicants may check the above website for application details. </p>
    </div>
    
    <div>
        <h3>Criteria and Eligibility</h3>
        <ol>
            <li>Applicants must be non-Chinese citizens and be in good health.</li>
            <li>
                Education background and age limit:<br />
                Applicants for master’s degree program must have bachelor’s degree and be under the age of 35.
            </li>
        </ol>
    </div>
</div>

<div>
    <h2>Scholarship Details</h2>

    <div>
        <h3>Full Scholarship</h3>
        <p>Full government scholarship covers the tuition fee,accommodation fee for dormitory on campus and living allowance. Full government scholarship doesn’t coverapplication fee, accommodation deposit, visa fee and medical examination fee.</p>
        <p>Note:</p>
        <ol>
            <li>Costs of the laboratory experiment or internship beyond the institution’s arrangements should be self-afforded.</li>
            <li>
                Monthly allowance is granted to the students through the host institution at the following rates (CNY Yuan per month):<br />
                Master’s degree students & general scholars: CNY 3,000 Yuan
            </li>
            <li>Fee for outpatient medical service refers to the outpatient expense in the institution’s hospital or the hospitals entrusted by the institution. The students are to cover a certain percentage of expense in accordance with the institution’s regulations.</li>
            <li>
                Comprehensive Medical Insurance and Protection Scheme for International Students in China is provided by MOE for the scholarship students in China in case of hospitalizing for serious diseases and accidental injuries. The institutions or the entrusted medical assistance agencies provide advancement service for insurance expenses, and claim for compensation with relevant payment receipts from the insurance company according to the stipulated insurance articles. For scholarship student, the individual claim will not be accepted by the insurance company.<br />
                Meal and excess of baggage should be self-afforded.
            </li>
        </ol>
    </div>
    
    <div>
        <h3>Approval and Notification</h3>
        <ol>
            <li>CSC will assess all the application documents and CSC reserves the right to make necessary adjustments on the proposed institutions, specialties and duration of study. The qualified applications will be forwarded to institutions for academic competence and they will forward their nominations to CSC for approval. The applications will be regarded as invalid and will not be accepted if they fail to meet the enrollment requirements or the application documents are incomplete.</li>
            <li>If overseas applicants for degree programs with exemption of examinations are academically ineligible to the proposed programs, the institution reserves the right to decide the academic program they could attend or whether to give them conditional offers for their proposed programs. Students who attend Chinese language courses prior to their university study must pass the university entrance examinations or other examinations required before they start their major studies. Students attending the college preparatory program, while failing to pass the required examinations within the set period, shall complete their study as Chinese language students.</li>
            <li>Applicants are required to enclose the admission notice from Chinese HEIs (Higher Education Institutions), if they have, in the documents submitted to CSC.</li>
            <li>Scholarship applicants academically accepted by Chinese HEIs will be officially awarded the Chinese Government Scholarship with the approval from CSC.</li>
            <li>Students are not permitted, in principle, to apply to change their specialties, institutions or the duration of study as specified in the Admission Notice.</li>
            <li>Chinese HEIs will send the Admission Offer and Visa Application Form for Study in China (JW201) to the candidates by August 31st.</li>
        </ol>
    </div>
</div>










