
@{
    ViewBag.Title = "Eligibility and Requirements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Eligibility and Requirements</h2>

    <p>1. Applicants for Bachelor’s and Master’s Degrees Programs should be between 18-35 years old with good health. </p>
    <p>2. Applicants for Chinese Language Training Programs should be between 18-65 years old with good health.</p>
    <p>3. Applicants should possess academic credentials equivalent to those of Chinese senior high school standards.</p>
    <p>4. Applicants should be In good health condition, in accordance with the Health Standard for International Students stipulated by the Ministry of Education, China.</p>
    <p>5. Applicants should have good moral character and discipline towards the laws and regulations of the Chinese government and the university.</p>
    <p>6. Application and Registration Fee: 800 RMB.</p>

    <table class="table">
        <tr>
            <th>Category of applicants</th>
            <th>Academic eligibility</th>
        </tr>
        <tr>
            <td>Non-Degree</td>
            <td>Any</td>
        </tr>
        <tr>
            <td>Undergraduate</td>
            <td>Highschool certificate</td>
        </tr>
        <tr>
            <td>Postgraduate</td>
            <td>Bachelors degree certificate</td>
        </tr>
    </table>
</div>

