
@{
    ViewBag.Title = "EntryVisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>How to Apply Entry Visa</h2>
    
    <div>
        <p>
            As a new student, you will need to enter China with a "Student Visa" ( X1).
            After the admission and payment of application fees, we will post you the admission notice and JW202 (or JW201 for CSC students).
            After receiving this post, please refer to the website of "Chinese Embassy or Consulate" in your country and apply for a student visa.
        </p>
        <p>
            The following documents are usually required to apply for an entry visa for study purpose:<br />
            <ol>
                <li>Original Admission Notice issued by Liaoning Shihua University.</li>
                <li>Original Form JW201 or Form JW202.</li>
                <li>Application for Chinese Visa.</li>
                <li>Physical Examination Record for Foreigners.</li>
            </ol>
        </p>
        <p>
            After applying for the visa, you will be issued an X1 visa to enter China.
            Please note that this visa is only valid for 30days after you entering China.
            Holders of X1 Visa shall , within 30 days from the date of their entry, apply to the exit/entry administration for foreigners' residence permits.
        </p>
        <p>
            The Admission Office of International Education College, shall help you apply for the residence permit during the registration process.
            Please closely follow and co-operate with our registration procedures.
        </p>
    </div>
</div>
