
@{
    ViewBag.Title = "Finance Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Finance Information</h2>

    <div>
        <h3>Transfer and Payment of Fees</h3>
        <p>
            Before you come to China , please make all necessary arrangements to pay your tuition fees  . You are required to pay off fees upon arrival. Delay in payment offees may delay your registration and residence permit.  Ideal options to carry money by the students are Traveler's Check or WESTERN UNION money transfers on student’s name. Most international debit  /  credit cards offer cash withdrawals at Chinese ATMs . (In all these options, student make the transaction from home  and receive money in China through respective institutions  )  .  If you wish to transfer the tuition to university account, please note that we do not take responsibility for any delays or transaction in the remittance. We only consider the date on which the amount arrives to our account. At the same time, as required by the government, we can only accept the money with the same amount of your tuition fee and accommodation fee, and therefore the university account can not accept any of your living expense.Please note that any wrong input will cause failure of the transaction and we request you to take special attention on our account details(given below).
        </p>

        <h4>For transfers within China</h4>
        <p>
            Chinese Currency Account Details: (RMB)<br />
            User Name: 辽宁石油化工大学<br />
            Name of the Bank: 中国银行抚顺支行<br />
            Address of the Bank: 辽宁省抚顺市新抚区东一路10号<br />
            Bank Account No.: 2895 5630 2396<br />
            Swift Code: BKCHCNBJ810
        </p>

        <h4>For transfers from your country</h4>
        <p>
            Foreign Currency Account Details: (USD/RMB only)<br />
            User Name: LIAONING SHIHUA UNIVERSITY<br />
            Name of the Bank: BANK OF CHINA<br />
            Branch: FUSHUN BRANCH<br />
            Address of the Bank: No. 1, Dandong Road (West), Wanghua
            District, Fushun, Liaoning Province, P.R.CHINA <br />
            Bank Account No.: 2895 5630 2396<br />
            Swift Code: BKCHCNBJ810
        </p>

        <p>Please note that Chinese Currency account can only receive RMB and foreign currency account can only receive USD or RMB . Please do not remit other currencies to university account. At the same time,the money sender’s name must be the individual name.</p>
        <p><strong>DO NOT MAKE TRANSFERS FROM INTERNET/MOBILE BANKING OR ATMs </strong>if you are transferring money with-in China. Make the transaction from the bank counter only . As some countries have very strict and complicated requirements for money transfer, so please remember to arrange your money transfer 3 months before the deadline of your residence permit.</p>
    </div>
    
    <div>
        <h3>Other Financial Information</h3>

        <h4>Local Bank Account</h4>
        <p>You can open a local foreign currency/RMB account at the Bank of China (with traveler’s checks)and can withdraw funds using a passbook and/or an ATM card for the account issued in Fushun . When traveling , use the ATM card to withdraw funds. You should always carry sufficient money in cash to cover emergencies.</p>

        <h4>ATM/Bank Cards</h4>
        <p>Automatic teller machines are available in every corner of the campus. Most of them provide access to international bank cards (Visa, Master, Diners club, JCB, American express etc). Usual withdrawal limit of Chinese ATM machines is around 2000 to 3500 per transaction. And daily withdrawal limit depends on your card.</p>

        <h4>Credit Cards</h4>
        <p>Five different types of international credit card (Master card, Visa card, Diners card, American express card and JCB card) are accepted by major hotels and restaurants, and large department stores in China, but few other businesses. Most businesses operate on a cash-only basis. Please note that International debit cards are not accepted by merchants POS machines to swipe.</p>

        <h4>Traveller's check</h4>
        <p>Bank of China can cash traveler’s checks of international commercial banks and traveler’s checks companies of many countries and regions, such as USA, UK, Canada, Australia, Japan, France, Germany, Switzerland and Hong Kong etc..However, traveler’s check is among the most useless things in other businesses in China.</p>

        <h4>Exchanging Money</h4>
        <p>
            You will find several establishments in China where money-changing services are offered. Banks are the best places, offering the official rate and charging a reasonable commission. There also money-changing services at major hote
            ls and international airports. A passport is required to change money. When changing money at an ATM with credit or bank cards, it is not always possible to check the rate you are being offered or to establish if there is acommission fee accessed (some may be higher or lower). Check your receipt carefully and avoid that machine in the future if the rates are excessive. It is a good idea to familiarize yourself with the current exchange rates before you go abroad.
        </p>

        <h4>Safety Reminders</h4>
        <strong>Remember to keep your receipts safely for all foreign currencies exchanged into RMB. </strong>
        <p>Government regulations allow only 50% of the original amount to be changed back into foreign currencies and require proof of the initial exchange. (For example  , if you change $100 to RMB you can only change back half of the RMB to dollars, $50 worth, and must provide the original exchange receipt). The RMB to dollar exchange must be made at the main branch of the Bank of China in the city.</p>

        <strong>Do not change money outside of the official exchange services.</strong>
        <p>Unofficial exchanges usually result in losing your money. The practice is illegal and you could also face charges of breaking foreign exchange laws.</p>

        <strong>Safety</strong>
        <p>Do not keep large sums of cash in your dorm(room). Buy a travelers’ money belt and beware of pickpockets in crowds and on public transports.</p>
    </div>

</div>
