
@{
    ViewBag.Title = "IIE Scholarships and Awards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>IIE Scholarships and Awards</h2>

    <div>
        <p>
            In order to further develop the education of international students, the university sets several different scholarships and awards to excellent self-sponsored international students who have the best academic performance or daily activity performance. The scholarships and awards are categorized as follows:
            Academic scholarship:
        </p>
        <ul>
            <li>First Prize: The prize is available to 2 students of every grade.</li>
            <li>Second Prize: The prize is available to 3 students of every grade.</li>
            <li>Third Prize: The prize is available to 3 students of every grade.</li>
            <li>Fourth Prize: The prize is available to 2 students of every grade.</li>
        </ul>

        <p>Besides, the Liaoning Shihua University Awards include:</p>
        <ul>
            <li>Excellent Students’ Executives: The prize is available to 10 students in total.</li>
            <li>Excellent Extra-curricular Activities Participant: The prize is available to 10 students in total.</li>
            <li>Full Attendance Award: Awarding to the students who have full attendance of all the courses in the last one year.</li>
        </ul>
        <p>Note: The scholarships and awards may be awarded concurrently</p>
    </div>
    
    <div>
        <h3>Criterion for scholarships and awards</h3>
        <p>
            In order to qualify for a scholarship or award a student must fulfill the following conditions:
            the applicant:
        </p>
        <ul>
            <li>Must apply for scholarship/awards to the Students’ Affairs Office (Room 217) at the first week of every academic year.</li>
            <li>Must be a self-sponsored student, who is registered as an undergraduate or postgraduate degree program. Only the students from second year, third year and fourth year are available to apply scholarships and awards.</li>
            <li>Must have a clean record without any pending misconduct or rule violation case against him/her. If any scholarship or award winner violates the rules or regulations of Liaoning Shihua University during the next academic year, he or she needs to refund the prize.</li>
            <li>The First Prize Scholarship applicants shall have an average of 85% marks with not less than 80% marks in each course in previous years.</li>
            <li>The Second Prize Scholarship applicants shall have an average of 80% marks with not less than 75% marks in each course in previous years.</li>
            <li>The Third Prize Scholarship applicants shall have an average of 75% marks with not less than 70% marks in each course in previous years.</li>
            <li>
                The Fourth Prize Scholarship applicants shall have a minimum of 70% marks in each course in previous years.
                An applicant for other awards shall have an average of 70% marks in previous years.
            </li>
        </ul>
    </div>

    <div>
        <h3>Evaluation Procedures</h3>
        <p>The university establishes an International Students’ Scholarship Appraisal Committee to evaluate applications for scholarships/awards. The committee is composed of related program leadership and management staff of International Education College. Criterion values for First, Second, Third and Fourth Prize Scholarship evaluation are set as below:</p>
        <ul>
            <li>Academic record: 90%</li>
            <li>Conduct and Daily performance: 10% </li>
            <li>While academic records and daily performance being equal, the candidates who have got any academic certificates, extra-curriculum activity certificates, or the experience about being excellent student association executives will be given priority to be considered.</li>
        </ul>
        <p>Initial appraisal shall be done by the Students’ Affairs Office based on relevant class tutor and lectures. The office submits its recommendations to the committee. The Students’ Affairs Office is responsible for advising about outcome of the applications to the students. An applicant must be provided with details of evaluation outcome about his/her application by the Students’ Affairs Office, if requested by the applicant. The applicant could appeal to the dean of International Education College if he/she is not satisfied with the outcome, within 10 working days from the date he/she receives the outcome details.</p>
    </div>
</div>
