
@{
    ViewBag.Title = "Insurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h2>Insurance</h2>

    <div>
        <p>
            It is a mandatory for all students studying in IIE to maintain a Medical Insurance. The insurance for one year costs 550 RMB and should be purchased along with payment of tuition fee in the beginning of every academic year.
        </p>
        <hr />

        <p>Self-funded students - covered by Zhongyin Insurance Co.</p>
        <p>CSC students - covered by Pingan Insurance Co., Beijing branch.</p>
        <hr />
    </div>

    <div>
        <h3>Procedure for Reimbursement of a Medi-claim</h3>

        <p>Students should purchase a comprehensive insurance, including accident medical insurance, hospitalization expenses, accident deformity, death insurance, etc. Self-supporting students who enjoy tuition fee discount and university exchange students shall pay for insurance by themselves.</p>
        <p>In order to protect your insurance interests, please take good care of all the documents, receipts, papers, etc. involved. When making a medical insurance claim, students shall provide complete documents, including：</p>
        <ol>
            <li>Photo copies - passport, certificate of doctor's diagnosis or certificate of accident, both sides of your bank deposit card.</li>
            <li>Original documents - receipts, hospital's summery(for in-patient), list of medicine consumed(for in-patient), bank-issued account information or bank slip(showing your name and account number into which the insurance company will pay back the money). </li>
            <li>Additional document - if it belongs to accidental insurance type, you have to write and describe the accident by yourself and then ask Ms Lu Lianxue at Admissions Office for details.</li>
        </ol>
    </div>

</div>