
@{
    ViewBag.Title = "Residence Permit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Residence Permit</h2>

    <div>
        <p>
            Dear students,<br />
            It is very important to hold a valid residence permit in China. You should keep your visa expiry date in mind and renew it on time.If your visa has expired when you try to renew it, you will be fined 500RMBper day, otherwise you will be imprisoned and be expelled.
        </p>
    </div>

    <div>
        <h4>When to apply/renew</h4>
        <p>At least, 10 days ahead of the expiry date.When you extend your residence permit, please make sure your passport is valid for more than 6 months.</p>
    </div>

    <div>
        <h4>Notes</h4>
        <ol>
            <li>Before applying/renewing residence permit, the students must have paid full tuition fee and accommodation fee for the next academic year.</li>
            <li>Required by the Exit and Entry Bureau, before applying residence permit, the new international students must take medical examination at Fushun. Therefore, after arriving at LSHU, please book the medication examination with Admission Office as soon as possible.</li>
            <li>Visa/residence permit fee: RMB¥800 for one year</li>
            <li>Students with an X1Visa must obtain the Residence Permit within 30 days of entry in China.</li>
            <li>According to China’s laws, international students, when going out of campus, must carry passports and other credentials to prove their legal status in China.</li>
            <li>International students should take full responsibility of their own residence permit. LSHU reserves the right to explain any statement or detail.</li>
        </ol>
    </div>
</div>
