
@{
    ViewBag.Title = "Rules and Regulations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Rules and Regulations</h2>

    <div>
        <h3>Foreign Students’ Commitment to Safety Responsibility</h3>

        <ol>
            <li>Foreign Students must observe laws and rules in China and rules and regulations in the university, and respect the public morality and social customs in China.</li>
            <li>Holding religious activities in Chinese boundary, foreign students should observe administrative of religious activities for foreigners in the People Republic of China. Foreign students’ national customs and religious belief are also respected in our university. But the place held for religious rites can not be offered. Religious missionary work is forbidden.</li>
            <li>Foreign students shall not be engaged in such illegal activities as gambling, excessive drinking, engaging in a brawl, taking drugs, drug smuggling, eroticism, prostitution, stealing or other misbehaviors to interfere teaching, scientific researches or living order in the university. No one can be allowed to destroy the teaching, scientific researches and living order in the university, and to disturb other’s activities based on the rules in the university.</li>
            <li>In order to guarantee a good order and environment for studying and living, foreign students should obey the university’s rest schedule and some relational rules.</li>
            <li>
                Points for attention in safety details:<br />
                <ul>
                    <li>Foreign students are not allowed to live outside the campus; lodging in the school must obey the administrative rules. Boys are not allowed to stay in girl’s dormitories or vice versa. When entering into the hostel or hotel, students should show valid cards such as chest card or student’s card.</li>
                    <li>Observe the university’s study and rest schedule. If you cannot attend the classes, make sure ask the Students’ Affairs Office from the International Education College for a leave before classes. Keep quiet in the apartment building. Smoking is prohibited. Do not drink excessively. Do not make loud noise. Do not put up external students for the night. Every night go back own apartment before 22:30.</li>
                    <li>Foreign students should take good care of the facilities in the apartment and the classrooms. Do not remove the public facilities or change rooms with others without permission. Do not change the water or electricity equipment. If any furniture or equipment is lost or damaged, students should pay the loss or damage according to the cost.</li>
                    <li>Foreign students should keep the dorm clean and tidy. Raising pets is forbidden.</li>
                    <li>Economize on water and electricity use. When you are out, remember to cut off the electricity supply. Attention should be paid to fire prevention and without permission electric lines are not allowed to use. Electrical heaters, electrical heating mattress, candle lights or any open fires. If you cause fire, you must pay for all the damages and be responsible for all the consequences.</li>
                    <li>Take good care of your properties. When you are out, make sure you lock the door and shut the windows; otherwise you will be responsible for all the losses. If your property is lost, you should report the whole case to Public Security Bureau and Institute of International Education right away, so that immediate measures can be taken to look for your loss.</li>
                    <li>Distributing, posting and displaying posters without permission are forbidden. Spreading reactionary or pornographic things are forbidden. When using the Internet, students should abide by the Chinese laws and provisions, do not browse, copy, and spread the content that is forbidden by Chinese laws.</li>
                    <li>If you want to hold gathering or performance, you should submit your written application to the College of International Education two weeks in advance. If being approved, activities can be held at the fixed time and fixed place.</li>
                    <li>Obey the public traffic rules. Be careful about road safety. Purchase of motor vehicles, electrical bicycles, motorbikes is not allowed.</li>
                    <li>If you want to travel or go back home during festivals or holidays, you should register your destination and fill in the departure form. Off-campus students must follow the related entry and exit regulations for foreigners. Without permission, climbing mountains, outdoor swimming, skating is prohibited.</li>
                    <li>If you pay no attention to our university’s disciplines, and if you have such behaviors like destroying public property, including in excessive drinking, fighting and damaging other’s property, you will be fined according to the seriousness of the case. If the case is very serious, you will be punished according to relative Public Order Regulations of China. Students with repeated misbehaviors after education might be expelled from the university and be sent back to your country.</li>
                    <li>Obey Chinese Anti-Terrorism Act and promise never join any terrorism groups or any terrorist activities. Every student has the responsibility to learn the skills and to improve the ability about self-protection from terrorist attacks. If anyone is realized to join any terrorism groups or any terrorist activities, according to university regulations, he/she will be seriously punished and will be handed over to judicial authorities.</li>
                    <li>
                        In case of emergency, please call:<br />
                        <ul>
                            <li>Police: 110</li>
                            <li>Fire Alarm: 119</li>
                            <li>Traffic Accidents: 122</li>
                            <li>Emergency medical treatment: 120</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>If foreign students fail to abide by the rules and regulations above, they are responsible for all the consequences.</li>
        </ol>
    </div>
</div>
