
@{
    ViewBag.Title = "International Students Union";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>International Students Union</h2>

    <div>
        <h3>Introduction</h3>
        <p>LSHU-UISA represents students from different countries and cultural background. It recognizes the power of strength in unity, not being limited by race color and individual cultural backgrounds but providing a comprehensive representation and support for registered international students in Liaoning Shishua University.</p>
    </div>

    <div>
        <h3>Objectives</h3>
        <ul>
            <li>To foster unity among students in Liaoning Shihua University</li>
            <li>To facilitate the dissemination of information among international students.</li>
            <li>To mobilize the intellectual resources of members in an effort to contribute positively to the socioeconomic development of our respective countries.</li>
            <li>To promote active participation in programs that will aid the improvement of student education and well-being in Liaoning shihua University</li>
            <li>To provide a platform for solving problems of members</li>
        </ul>
    </div>
</div>
