
@{
    ViewBag.Title = "Undergraduates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Undergraduates</h2>

    <div>
        <h3>Entry Requirements</h3>
        <p>Academic Requirement: High School Certificate</p>
        <p>HSK Requirement: No</p>
    </div>

    <div>
        <h3>Application Materials</h3>
        <p>1. Apply</p>
        <p>2. A passport photo</p>
        <p>3. Copy of all pages of passport. (From the first page to last page)</p>
        <p>4. Copy of your High-School degree transcript (Notarized English translation if applicable )</p>
        <p>5. Copy of your High-School degree certificate (Notarized English translation if applicable)</p>
        <p>6. English language proficiency certificate (non-English speaking countries)</p>
        <p>7. Family financial statement </p>
    </div>
</div>

<div>
    <h2>Courses</h2>

    <div>
        <h3>Petroleum and Gas Engineering</h3>
        <p>The educational aim of Petroleum Engineering is to cultivate qualified practical elite who will obtain solid mathematical foundation and systematic petroleum engineering specialty knowledge; who will has the higher computer applied and engineering practice abilities; who will be engaged in engineering design, engineering construction and management, applied research and science and technology development of the following aspects: oil and gas drilling, well completing engineering, oil extraction engineering, oil deposit engineering and so onwhen thy graduate from the university.</p>
        <p>Main Courses: Physical Chemistry, Development Geology, Engineering Mechanics, Engineering Fluid Mechanics, Permeation Fluid Mechanics, Petrophysics, Drilling Engineering, Oil Production Engineering, Reservoir Engineering.</p>
    </div>

    <div>
        <h3>Civil Engineering</h3>
        <p>his program is designed to cultivate a kind of highly qualified practical elite who will grasp basic theory and knowledge of civil engineering; who will be engaged in civil engineering design, construction and management; who will be engaged in petrochemical equipment installation and pipeline construction; who will obtain engineer basic training and possess spirit of innovation.</p>
        <p>Main Courses:Theoretical Mechanics, Material Mechanics, Structural Mechanics, Soil Mechanics, Foundation Engineering, Building Architecture, Design Principle of Concrete Structure, The Principle of Steel Structure Design, Brickwork Structure Design, Civil Engineering Construction, Earthquake Resistant Structure Design.</p>
    </div>

    <div>
        <h3>Mechanical Design, Manufacturing and Automation</h3>
        <p>This specialty aims at training advanced technical professionals that grasp the basic fundamental mechanical designing knowledge, application capacity and creativity spirit, engaging in designing, manufacturing, technical developing, applying, researching, operating management and marketing in the forefront of industrial production.</p>
        <p>Main courses: Engineering Mechanics, Principle of Machinery, Mechanical Design, Electrical and Electronic Technology, Engineering Material for Mechanism, Fundamentals of Control Engineering, Fundamentals of Machine Manufacturing Technology, Electron-mechanical Transmission and Control, Mechanical CAD/CAM, Hydraulic and Pneumatic Transmission, Digital Control Technology, Machinery Manufacture and Equipment design.</p>
    </div>

    <div>
        <h3>Oil-gas Storage and Transportation Engineering</h3>
        <p>The Program of Oil-gas Storage Transportation Engineering is designed to equip students with a broad fundamental knowledge to be technicians as one who discharge duties ethically, independently, competently and constructively in long distance pipeline transportation, oil deport, oil field surface construction, design and management collection and transportation as a high level technological talent.</p>
        <p>Main courses: Engineering Mechanics, Hydromechanics in Engineering, Thermodynamics, Electrical Engineering, Heat Transformation, Electron-technology, Foundation of Mechanical Design, Pump and Compressor, Design of Oil Deport, Design and Management of Oil-line, Gas-oil Gathering, Strength Design of Oilcan and Pipe, Optimization Method and Application in Oil Storage and Transportation.</p>
    </div>

    <div>
        <h3>International Economy and Trade</h3>
        <p>This program is set to cultivate students to master basic theory of Marxism economics and international economics & trade, basic knowledge and skills about International Trade, well know the development situation of modern International economics & trade area, understand the social and economic situations of different countries and regions, so that they can do business such as management, investigation commerce promotion and planning work in department concerning foreign trade, foreign-funded enterprise an government agencies well.</p>
        <p>Main Courses: Political Economics, Western Economics, International Economics, Outline of World Economy, Theory and Practice of International Trade, International Finance, International Settlement, Monetary Banking, Accounting Statistics and so on.</p>
    </div>

    <div>
        <h3>Electrical Engineering and Automation</h3>
        <p>This program aims at training practical professionals that develop morally, intellectually, physically and aesthetically, adapting to the need of socialist market economy, grasp the basic theory, knowledge and skills in the fields of electric engineering and its automation, possessing the creativity spirit and practical ability.</p>
        <p>Graduates of this program will engage in the work relating to Electrical Engineering such as system operation, automatic control, electronic technology, information processing, experiment analysis, research and development, and the application of electronic and computer to serve the petroleum and petrochemical industry and local economic development.</p>
        <p>Main courses: Fundamentals of Circuit Analysis, Analog Electric Technology, Digital Electric Technology, Automatic Controlling Principle, Microcomputer Principles and Interface Technology, Single Chip Processor Principle and Application, Signal and System, Sensors Technology and Error Processing, Fundamentals of Motor and Motor Drive, Power Electronic Conversion, Electrical Control and PLC Technology, Power System for Industrial Plant, D.C Motor Drive Control System, A.C Speed Adjusting.</p>
    </div>

    <div>
        <h3>Computer Scicence and Technology</h3>
        <p>The program aims at training students to adapt to local social and economic development needs,computer science and technical expertise to master the basic theory and professional knowledge. This program requires students to familiar with computer systems and application environments, to master computer system analysis, design of the basic method.Letting students to engaged in computer software, network and embedded systems development and design maintenance capabilities, with new technology research in computer design and development capabilities.The gradates of Computer Engineering specialty need to have a strong ability to engage in application-oriented talents network engineering, software engineering, technology development and project management.</p>
        <p>Main courses: Circuit, Electronic Technology, Discrete Mathematics, Data Structure, Compile Principle, Programming, Computer Principle and Structure, Operation System, Assembler Language, Database Principle, Computer Network and Internet, Software Engineering , Calculating Designing and Analysis</p>
    </div>

    <div>
        <h3>Chemical Engineering and Technology</h3>
        <p>The Program of Chemical Engineering and Technology is designed to prepare a comprehensive and advanced technician with a sound knowledge of the chemical engineering process, including refining chemistry, chemical techniques, and industrial catalysis, and with all round development of morality, intelligence and physique.</p>
        <p>Students are required to be able to acquire the broad knowledge of chemical engineering and techniques, of chemical engineering equipment design, simulated optimization, and to have the ability to study, develop and design the latest products, the latest techniques, the latest technology and the latest equipment, to have the ability to search documents and date, and the ability to develop scientific research and work. </p>
        <p>Main Courses: Inorganic Chemistry, Organic Chemistry, Fundamentals of Chemical Engineering, Thermodynamics of Chemical Engineering, Chemical Reaction Engineering, Petrochemistry, Petroleum Processing, Fundamentals of Catalysis, Structure chemistry.</p>
    </div>

    <div>
        <h3>Business Administration</h3>
        <p>The program aims at training students to adapt to the socialist market economy, Petroleum and petrochemical industry with a solid foundation of knowledge and management, economics basic theoretical knowledge, with a certain level of foreign language, the system master of business administration in the field of theoretical knowledge and technical methods. The qualified graduates will also grasp good interpersonal communication, organizational management skills and solving practical problems capability, who could be the application-oriented talent to work at the  petroleum and petrochemical companies, businesses, governments and institutions engaged in the management, teaching or scientific research. </p>
        <p>Main Courses: Economic law, management, accounting, economics, statistics, marketing, logistics management, financial management, project management, production and operations management, corporate strategic management, organizational behavior, management, communication,human resource management, management information systems, business management, market research and forecasting, etc.</p>
    </div>


</div>
